QPushButton{
    border: 3px groove gray;
    border-radius: 10px;
    padding:2px 4px;
    font-size:18px;
    font-family: "Microsoft YaHei UI";
    background:rgb(90, 191, 200);
}
QPushButton:hover{
    background: rgb(90, 171, 180);
}